<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="icon" href="../static/icon.png">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <meta charset="utf-8">
  <title>Sudoku Solver</title>
</head>

<body>
  <h1> Sudoku Solver</h1>
  <p font-size="20px" ;>Enter known numbers:</p>
  <form method="POST" name="cell_values" action="/test">
    <table id="sudoku" class="center">
      <tbody>
        <tr>
          <td><input type="text" maxlength="1" name=1 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=2 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=3 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=4 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=5 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=6 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=7 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=8 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=9 autocomplete="off" /></td>
        </tr>
        <tr>
          <td><input type="text" maxlength="1" name=10 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=11 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=12 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=13 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=14 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=15 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=16 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=17 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=18 autocomplete="off" /></td>
        </tr>
        <tr>
          <td><input type="text" maxlength="1" name=19 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=20 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=21 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=22 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=23 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=24 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=25 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=26 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=27 autocomplete="off" /></td>
        </tr>
        <tr>
          <td><input type="text" maxlength="1" name=28 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=29 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=30 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=31 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=32 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=33 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=34 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=35 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=36 autocomplete="off" /></td>
        </tr>
        <tr>
          <td><input type="text" maxlength="1" name=37 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=38 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=39 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=40 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=41 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=42 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=43 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=44 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=45 autocomplete="off" /></td>
        </tr>
        <tr>
          <td><input type="text" maxlength="1" name=46 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=47 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=48 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=49 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=50 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=51 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=52 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=53 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=54 autocomplete="off" /></td>
        </tr>
        <tr>
          <td><input type="text" maxlength="1" name=55 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=56 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=57 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=58 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=59 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=60 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=61 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=62 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=63 autocomplete="off" /></td>
        </tr>
        <tr>
          <td><input type="text" maxlength="1" name=64 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=65 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=66 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=67 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=68 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=69 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=70 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=71 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=72 autocomplete="off" /></td>
        </tr>
        <tr>
          <td><input type="text" maxlength="1" name=73 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=74 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=75 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=76 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=77 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=78 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=79 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=80 autocomplete="off" /></td>
          <td><input type="text" maxlength="1" name=81 autocomplete="off" /></td>
        </tr>
      </tbody>
    </table>
    <div class="container">
      <button class="btn btn-default" type="submit">Solve Sudoku</button>
    </div>
  </form>
  <div>
    <a href="https://github.com/rvo1994">This app was built by rvo1994</a>
  </div>
</body>

</html>